* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.img-container {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    padding: 15px; /* Ajustement de la marge intérieure */
}

.btn-primary {
    border-radius: 20px;
    width: 100px; /* Ajustement de la largeur */
}

.btn-primary:hover {
    background-color: black;
    border: none;
}

h3, h5 {
    color: rgb(0, 91, 228);
}

.filter {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1%;
    row-gap: 10px;
}

.filter .item {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .item select,
.filter .item input,
.filter .item button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f8f9fa;
    border-left: 1px solid #ddd;
    outline: none;
}

.filter .item label {
    display: block;
    width: 40%;
    padding: 0 10px;
}

.filter .item.submit button {
    width: 200px; /* Ajustement de la largeur */
    border-radius: 30px;
    background-color: black;
    color: #fff;
}
